// Colors
$primary: #c778dd;
$white: #fffdfa;
$gray: #abb2bf;
$pry-background: #282c33;

// Font Sizes
$font-small: 1.125rem; // 18px
$font-med: 1.5rem; // 24px
$font-large: 2rem; // 32px

//TODO media query font-sizes
