// Colors
$primary: #c778dd;
$white: #fffdfa;
$gray: #abb2bf;
$pry-background: #1e1e1e;
$sec-background: #282c33;

// Font Sizes
$font-small: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-large: 2rem; // 18px
