.hero {
  .social-links {
    position: absolute;
    z-index: 4;
    top: 0.9375rem;
    left: 0.625rem;
    gap: 10px;

    .line {
      margin-left: 10px;
      height: 100px;
      width: 2px;
      background: #abb2bf;
    }
  }

  &__content {
    flex-wrap: wrap;

    &__info {
      width: 540px;
      height: 227px;
      margin-top: 200px;
    }

    &__image {
      margin-top: 40px;
      position: relative;

      .hero-person {
        z-index: 1;
      }

      .hero-pattern {
        position: absolute;
        left: 4px;
        top: 80px;
        z-index: -1;
      }

      .hero-dots {
        position: absolute;
        right: 4px;
        top: 250px;
        z-index: 2;
      }

      .current-work {
        margin-top: -7px;
        margin-left: 15px;
        padding: 8px;
        width: 402px;
        height: 37px;
        background: #282c33;
        border: 1px solid #abb2bf;

        &__mini-square {
          width: 1.125rem;
          height: 1.125rem;
          flex-shrink: 0;
          border: 1px solid var(--primary, #c778dd);
          background: #282c33;
          margin-right: 0.625rem;
        }
      }
    }
  }

  &__quote-wrapper {
    position: relative;
    display: inline-flex;
    padding: 1.5rem;
    border: 1px solid var(--gray, #abb2bf);
    overflow: visible;
    margin-top: 100px;
    margin-left: 25%;

    .upper-quote {
      position: absolute;
      top: -15px;
    }

    .lower-quote {
      position: absolute;
      bottom: -15px;
      right: 23px;
    }

    &:after {
      content: 'Dr.Who';
      position: absolute;
      right: 0;
      bottom: -4.125rem;
      padding: 1.3rem;
      border: 1px solid var(--gray, #abb2bf);
      z-index: -1;
    }
  }
}

.projects {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
  }
}

@media screen and (max-width: 2000px) {
  .hero__content {
    flex-wrap: wrap;
  }
}

/* 0-900 */
@media screen and (max-width: 900px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
      &__info {
        min-width: 90%;
        margin-top: 20px;
      }

      &__image {
        margin-left: 10%;
        margin-top: 20px;
      }
    }
    &__quote-wrapper {
      margin-left: 0;
      margin-top: 65px;
    }
  }

  // .projects {
  //   .project-cards {
  //     flex-wrap: wrap;
  //     transform: translateX(20%);
  //   }
  // }
}

/* 0-650 */
@media screen and (max-width: 650px) {
}
