@import '../../sass/_mixins';

.navbar {
  width: 100%;
  padding: 1rem 20rem;

  &__logo {
    height: 1.5rem;
    > img {
      width: 100%;
    }
  }

  &__links {
    list-style: none;
    flex: 1;

    > li {
      margin: 0 1rem;
      cursor: pointer;
    }
  }

  @include breakpoint-down(x-large) {
    padding: 1rem 5rem;
  }

  @include breakpoint-down(medium) {
    padding: 1rem 3rem;
  }
}

.navbar--smallscreen {
  .btn-hamburger {
    position: absolute;
    right: 10%;
    align-items: end;
    cursor: pointer;
    z-index: 4;

    > span {
      display: block;
      height: 0.125rem;
      background-color: #c778dd;
      margin-bottom: 0.3125rem;
      transition: all 300ms ease-in-out;
    }

    > span:first-child {
      width: 1.5rem;
    }

    > span:nth-child(2) {
      width: 1.25rem;
    }

    > span:last-child {
      width: 1rem;
    }
  }

  &.open {
    .btn-hamburger {
      animation: bounce 600ms ease-in-out forwards;
      > span:first-child {
        transform: translateY(0.4375rem) rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: translateY(-0.4375rem) rotate(-45deg);
        width: 1.5rem;
      }
    }
  }

  &_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #282c33;
    z-index: 3;
    opacity: 0;
    animation: fadeIn 600ms ease-in-out forwards;

    .navbar--smallscreen__links {
      list-style: none;
      margin-right: 1.25rem;
      animation: rubberBand 800ms ease-in-out forwards;

      > li {
        margin-bottom: 1.25rem;
      }
    }
  }
}

.social-links {
  position: absolute;
  z-index: 4;
  top: 1rem;
  left: 0.625rem;
  gap: 0.75rem;

  @include breakpoint-down(medium) {
    left: 0.425rem;
  }

  .line {
    margin-left: 0.625rem;
    height: 7.5rem;
    width: 0.1875rem;
    background: #abb2bf;
  }
}
