.navbar {
  width: 100%;
  padding: 1rem 10.685rem;

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > img {
      width: 72px;
    }
  }

  &__links {
    list-style: none;
    flex: 1;

    > li {
      margin: 0 1rem;
      cursor: pointer;
    }
  }
}
